# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @fixedthink

# Order is important. The last matching pattern has the most precedence.
.github/**                                             @fixedthink
.scripts/**                                            @fixedthink
# *.json                                               @fixedthink
# *.md                                                 @fixedthink
